OPENAI_API_KEY={OPENAI_API_KEY}
OPENAI_ORG_ID={OPENAI_ORG_ID}
TERARIUM_USER={TERARIUM_USER}
TERARIUM_PASS={TERARIUM_PASS}

ESGF_URL="https://esgf-node.llnl.gov/esg-search"

REDIS_HOST="redis-climate-data"
REDIS_PORT=6379

MINIO_URL="http://minio:9000"
MINIO_USER="miniouser"
MINIO_PASS="miniopass"
MINIO_BUCKET_NAME="climate-data-test-bucket"

TERARIUM_URL="https://server.staging.terarium.ai"